body{
    
    background-color: #f3f3f3;

}
.menuAdmin{
    background-color: #9e121b;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    padding-top: 15px;
}
.menuAdmin ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
}
.menuAdmin ul li {
    margin: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuAdmin ul li a{
    color: #9e121b;
    background-color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.menuAdmin ul li a:hover{
    color: white;
    border: 2px solid white;
    background-color: transparent;
}



.adminbody{
    display: flex;
    justify-content: center;
    align-self: center;
}
form div{
    margin: 20px; 
    display: flex;
    flex-direction: column; 
}
form input{
    color: #9e121b;
    /* height:  25px; */
    border-radius: 10px;
    border: 0.5px solid brown;
    display: flex;
    justify-content: center;
    padding: 3px;
}
form select{
    color: #9e121b;
    border-radius: 10px;
    border: 0.5px solid brown;
    /* height:  30px; */
}
form label{
    font-size: 17px;
    color: #9e121b;
}
form input[type="submit"]{
    background-color: #9e121b;
    height:  33px;
    color: white;
}